{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}
<h1 class="mt-5">Account Administration Portal</h1>

<!-- TODO: Implement the user account search -->
<div>
    <h3>Account Search</h3>
    <p>Search for an existing user</p>
    <!-- TODO: Implement the user search form-->
    <h3>Search</h3>
    <form method="GET">
        <input type="text" name="user"></input>
        <button type="submit" class="btn">Search</button>
    </form>
</div>

<!--
TODO: Implement the user results table for their credentials
The table will allow a logged in administrator the ability
to edit and update the credentials of any given KomradeBank account.
-->
<div>
    <h3>Searched Account Credentials</h3>
    {% if user and user_info %} <!--I added "and user_info", does it even work?-->
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Emaik</th>
            <th>Phone</th>
            <th>Current Funds</th>
        </thead>
        <!-- IMPLEMENT ME -->
        <tbody>
            <tr>
                <td>Name: {{ user_info['name'] }} </td>
                <td>Address: {{ user_info['address'] }} </td>
                <td>Email: {{ user_info['email'] }} </td>
                <td>Phone: {{ user_info['phone'] }} </td>
                <td>Funds: {{ user_info['funds'] }} </td>
            </tr>
        </tbody>
    </table>

    <h3>Edit credentials for {{ user }} </h3>
    <!-- IMPLEMENT ME -->
    <form method="POST" id="admin_cred_update" action="admin">
       <!--copypasted from users.html-->
       <p>Name: <input type="text" name="name" value="{{user_info['name']}}"> </p>
       <p>Address: <input type="text" name="address" value="{{ user_info['address'] }}"> </p>
       <p>Email: <input type="text" name="email" value="{{ user_info['email'] }}"> </p>
       <p>Phone: <input type="text" name="phone" value="{{ user_info['phone'] }}"> </p>
       <p>Funds: <input type="text" name="funds" value="{{ user_info['funds'] }}"> </p>
       <input type="hidden" name="user" value="{{ user }}">
       <button type="submit" class="btn">fuck</button>
          <!--PROTIP: if your form is not submitting via POST request, 
             check that the inputs actually have "name"s (id is for js only) -->
    </form>

    {% else %}
    <p>Search for a user to edit their credentials</p>
    {% endif %}
</div>
{% endblock %}
